@model TryCatch.Models.Cart

@foreach (var item in Model.Items) {
<tr>
    <td>@item.ArticleName</td>
    <td>@item.ArticlePrice.ToString("C")</td>
    <td>@item.Quantity</td>
    <td>@item.Total.ToString("C")</td>
    <td>
        <a href="#" onclick="javascript:showArticle(@item.Id);">Details</a> | 
        <a href="#" onclick="javascript:removeItem(@item.ArticleId, 1);">Remove</a>
    </td>
</tr>
}
<tr><td colspan="5"></td></tr>
<tr>
    <th colspan="3">Sub total</th>
    <th>@Model.Items.Sum(m => m.Total).ToString("C")</th>
</tr>
