@model TryCatch.Models.Article

@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>

    @foreach (var img in Model.Images)
    {
        <img src="@img" />
    }
</div>
<button type="button" class="btn btn-success" onclick="javascript:addItem(@Model.Id, 1);">Add to cart</button>