@model IEnumerable<TryCatch.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table" id="articles">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody/>
</table>
Page <input type="number" min="1" value="1" onchange="javascript:loadArticles(this.value)"/>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Content/Script/cart.js")
@Scripts.Render("~/Content/Script/article.index.js")